.carrousel{// boite modale qui contiendra le carrousel
    transform: scale(0); //la boite modale est invisible puisqu'elle est trop petite
    transition: transform .25s; // permet d'animer l'ouverture de la boite modale
    position: fixed; // la division carrousel est une boite modale
    width: 100%;
    height: 100%;
    border: 10px solid red;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    
    @media screen and (min-width : 400px) {
        width: 75%;
        height: 75%;
        top: 12.5%;
        left: 12.5%;
    }
}

.carrousel__x{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 3px;
    border: 1px solid black;
    z-index: 11;
}

.carrousel__figure{
    height: 100%;
    width: 100%;
}

.carrousel__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    // opacity: 0;// rend les images invisibles
    display: none;
}

.img__montree{
    display: block;
}

.carrousel--ouvrir{
    transform: scale(1);
    // display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouton__ouvrir{
    width: 200px;
}


.carrousel__radio{
    position: relative;
    width: 3rem;
    height: 3rem;
    z-index: 12;
}

.carrousel__fleches{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-image: linear-gradient(120deg, var(--couleur-bouton1), var(--couleur-bouton2));
    transition: background-image 1s;

    &:hover{
        background-image: linear-gradient(120deg, var(--couleur-bouton1-hover), var(--couleur-bouton2-hover));
    }
}

.fleche__gauche{
    top: 50%;
    left: 0;
}

.fleche__droite{
    top: 50%;
    right: 0;
}